Repository yoshihiko555/offbal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vue_build, drf_build, s_vue_deploy, s_drf_deploy

.gitlab-ci.yml:

# workflow:
#   rules:
#     - if: '$CI_COMMIT_REF_NAME == "master"'
#       when: always

stages:
    - build
    - deploy

# Vueをビルドして、Dockerイメージを作成後、ECRにpush
vue_build:
    stage: build
    image: docker
    services:
        - docker:dind
    rules:
        - changes:
            - web/**/*
    variables:
        AWS_ACCESS_KEY_ID: $S_AWS_ACCESS_KEY_ID
        AWS_SECRET_ACCESS_KEY: $S_AWS_SECRET_ACCESS_KEY
    before_script:
        - . install.sh
    script:
        - cd web
        - npm install
        - npm run build
        - docker build -t vue -f Dockerfile_pro .
        - docker tag vue:latest 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com/offbal-nginx:$CI_BUILD_REF
        - aws ecr get-login-password --region ap-northeast-1 | docker login --username AWS --password-stdin 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com
        - docker push 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com/offbal-nginx:$CI_BUILD_REF
    # デプロイステージへビルドされたdistディレクトリを共有
    # S3に配信する時に必要なら使用
    artifacts:
        paths:
            - web/dist/

# DRFのDockerイメージをビルドしてECRにpush
drf_build:
    stage: build
    image: docker
    services:
        - docker:dind
    rules:
        - changes:
            - api/**/*
    before_script:
        - . install.sh
    variables:
        AWS_ACCESS_KEY_ID: $S_AWS_ACCESS_KEY_ID
        AWS_SECRET_ACCESS_KEY: $S_AWS_SECRET_ACCESS_KEY
    script:
        - cd api
        - docker build -t drf .
        - docker tag drf:latest 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com/drf:$CI_BUILD_REF
        - aws ecr get-login-password --region ap-northeast-1 | docker login --username AWS --password-stdin 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com
        - docker push 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com/drf:$CI_BUILD_REF

# ECRにpushされたVueのイメージを元にタスク定義を更新
s_vue_deploy:
    stage: deploy
    image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
    rules:
        - changes:
            - web/**/*
    script:
        - apt install -y jq
        - chmod 777 ecs-deploy
        - ls -l
        - ./ecs-deploy-develop/ecs-deploy -c arn:aws:ecs:ap-northeast-1:669310959254:cluster/nginx -n offbal-nginx-service -i 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com/offbal-nginx:$CI_BUILD_REF -t 300

# ECRにpushされたDRFのイメージを元にタスク定義を更新
s_drf_deploy:
    stage: deploy
    image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
    rules:
        - changes:
            - api/**/*
    script:
        - apt install -y jq
        - chmod 777 ecs-deploy
        - ./ecs-deploy-develop/ecs-deploy -c arn:aws:ecs:ap-northeast-1:669310959254:cluster/nginx -n off-drf-service -i 669310959254.dkr.ecr.ap-northeast-1.amazonaws.com/drf:$CI_BUILD_REF -t 300

# ここから下にぶっちー用のデプロイを定義
# k_vue_deploy:
#     stage: deploy
#     rules:
#         - changes:
#             - web/**/*
#     # デプロイ時にアクセスキー等が必要になったら、ここで更新する
#     # K_AWS_ACCESS_KEY_IDはGitlabの設定画面から定義する
#     variables:
#         AWS_ACCESS_KEY_ID: $K_AWS_ACCESS_KEY_ID
#         AWS_SECRET_ACCESS_KEY: $K_AWS_SECRET_ACCESS_KEY
#     script:
#         # ここにデプロイまでの流れを記述
#     # vueのビルドで生成されてdistディレクトリを取得
#     dependencies:
#         - vue_build
#
# k_drf_deploy:
#     stage: deploy
#     rules:
#         - changes:
#             - api/**/*
#     # デプロイ時にアクセスキー等が必要になったら、ここで更新する
#     # K_AWS_ACCESS_KEY_IDはGitlabの設定画面から定義する
#     variables:
#         AWS_ACCESS_KEY_ID: $K_AWS_ACCESS_KEY_ID
#         AWS_SECRET_ACCESS_KEY: $K_AWS_SECRET_ACCESS_KEY
#     script:
#         # ここにデプロイまでの流れを記述

自動デプロイ
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

環境変数読み込み
  .gitlab-ci.yml
Due: none

デプロイ
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

パスのミス
  .gitlab-ci.yml
Due: none

変数が無かったために認証失敗していた？
  .gitlab-ci.yml
  ecs-deploy
Due: none

[fix] Ci/CD設定ファイル修正
  .gitlab-ci.yml
Due: none

[clean] 不要ファイルの削除
  ecs-deploy
Due: none

[clean] Hello Worldの文字を削除
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

環境変数テスト
  .gitlab-ci.yml
  web/src/plugins/http.js
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

環境変数テスト２
  .gitlab-ci.yml
  web/src/auth/AuthService.js
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

URLの条件分岐追加
  .gitlab-ci.yml
Due: none

vue_app変更
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

環境変数テスト
  .gitlab-ci.yml
  web/Dockerfile_pro
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

とりあえず画面側のみ本番と開発の環境切り分け
  .gitlab-ci.yml
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

少しリファクタ
  .gitlab-ci.yml
  web/src/auth/AuthService.js
Due: vue_build, s_vue_deploy

環境変数の不具合修正
  .gitlab-ci.yml
  web/src/plugins/http.js
Due: vue_build, s_vue_deploy

再度修正
  .gitlab-ci.yml
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

環境変数のundefined修正
  web/src/views/Home.vue
Due: vue_build, s_vue_deploy

[update] Auth0関連のクロスオリジン対策
  api/api/urls.py
  api/api/views.py
  api/api/viewsets.py
  api/offbal/settings.py
  api/requirements.txt
  web/src/auth/AuthService.js
  web/src/plugins/http.js
  web/src/views/InitSelectCategory.vue
  web/src/views/app/SearchResult.vue
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[update, fix] セクションコメントアウト、redirectUri修正
  api/Dockerfile
  docker-compose.yml
  web/src/auth/AuthService.js
  web/src/views/app/DetailCategory.vue
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[add, update] タイムゾーン関連実装、Dockerfile整理
  .gitlab-ci.yml
  api/Dockerfile_pro
  api/api/models.py
  api/api/serializers.py
  api/api/utils.py
  api/offbal/settings.py
  docker-compose.yml
  web/src/assets/js/const.js
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[update] コンソールに出るうざいエラーやタスク周り機能微修正
  api/offbal/settings.py
  web/src/assets/js/const.js
  web/src/components/common/Sidebar.vue
  web/src/components/common/TaskDialog.vue
  web/src/components/common/TaskList.vue
  web/src/components/parts/TaskDetailSubTaskArea.vue
  web/src/components/parts/TaskDetailUpdateDate.vue
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[update]　インプット系の文字数制限、カテゴリ移動時の入力欄初期化
  web/src/components/common/Sidebar.vue
  web/src/components/common/TaskDialog.vue
  web/src/components/parts/CreateTaskField.vue
  web/src/components/parts/LabelBtn.vue
  web/src/components/parts/TaskDetailSubTaskArea.vue
  web/src/views/app/DetailCategory.vue
  web/src/views/app/FutureScheduled.vue
  web/src/views/app/TodayScheduled.vue
Due: vue_build, s_vue_deploy

[update, add] タスクが無い時の表示、パーミッション指定
  api/api/core/models.py
  api/api/views.py
  api/api/viewsets.py
  web/src/assets/js/const.js
  web/src/components/parts/CreateTaskField.vue
  web/src/components/parts/NoTaskMsgArea.vue
  web/src/views/app/DetailCategory.vue
  web/src/views/app/FutureScheduled.vue
  web/src/views/app/TodayScheduled.vue
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[fix, update] 近日中のlength判定修正、ローディング統一
  web/src/views/app/FutureScheduled.vue
  web/src/views/app/TodayScheduled.vue
Due: vue_build, s_vue_deploy

[fix] eventHubのoff、タスク外側判定修正
  web/src/components/common/CompleteTaskList.vue
  web/src/components/common/EditTaskDialog.vue
  web/src/components/common/TaskDetail.vue
  web/src/components/common/TaskDialog.vue
  web/src/components/common/TaskList.vue
  web/src/components/parts/CreateTaskField.vue
  web/src/components/parts/DeadLineBtn.vue
  web/src/components/parts/LabelBtn.vue
  web/src/components/parts/ReminderBtn.vue
  web/src/components/parts/TaskDetailHeader.vue
  web/src/components/parts/TaskDetailLabelArea.vue
  web/src/components/parts/TaskDetailSubTaskArea.vue
  web/src/views/app/DetailCategory.vue
  web/src/views/app/FutureScheduled.vue
  web/src/views/app/SearchResult.vue
  web/src/views/app/TodayScheduled.vue
  web/src/views/setting/Setting.vue
Due: vue_build, s_vue_deploy

[fix, update] ファイル名変更、store移行
  web/src/assets/js/const.js
  web/src/components/common/TaskList.vue
  web/src/components/parts/TaskDetailSubTaskArea.vue
  web/src/mixins/index.js
  web/src/router/myapp.js
  web/src/store/index.js
  web/src/views/app/DetailCategory.vue
  web/src/views/app/FutureSchedule.vue
  web/src/views/app/SearchResult.vue
  web/src/views/app/TodaySchedule.vue
  web/src/views/index.js
Due: vue_build, s_vue_deploy

[update] セクション廃止
  api/api/admin.py
  api/api/filters.py
  api/api/models.py
  api/api/serializers.py
  api/api/urls.py
  api/api/utils.py
  api/api/views.py
  api/api/viewsets.py
  web/src/components/common/EditTaskDialog.vue
  web/src/components/common/SectionList.vue
  web/src/components/common/TaskDialog.vue
  web/src/components/index.js
  web/src/components/parts/CategoryBtn.vue
  web/src/components/parts/CreateTaskField.vue
  web/src/components/parts/SelectCategoryBtn.vue
  web/src/components/parts/TaskMenuBtn.vue
  web/src/store/index.js
  web/src/views/app/DetailCategory.vue
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[add] カテゴリ詳細以外からのサブタスク編集系
  web/src/components/common/TaskDetail.vue
  web/src/components/parts/TaskDetailSubTaskArea.vue
  web/src/main.js
  web/src/mixins/index.js
  web/src/mixins/store.js
  web/src/store/index.js
  web/src/views/app/SearchResult.vue
Due: vue_build, s_vue_deploy

[add] タスク削除の反映
  web/src/components/common/TaskDetail.vue
  web/src/components/parts/TaskDetailHeader.vue
  web/src/components/parts/TaskMenuBtn.vue
  web/src/mixins/store.js
  web/src/store/index.js
Due: vue_build, s_vue_deploy

[fix] カテゴリ詳細以外からのタスク編集、削除、完了
  web/src/components/common/CompleteTaskList.vue
  web/src/components/common/TaskDetail.vue
  web/src/components/common/TaskList.vue
  web/src/components/parts/TaskDetailHeader.vue
  web/src/mixins/store.js
  web/src/store/index.js
  web/src/views/app/FutureSchedule.vue
  web/src/views/app/SearchResult.vue
  web/src/views/app/TodaySchedule.vue
Due: vue_build, s_vue_deploy

[update] 検索からのURLのduplicateなんちゃら解消
  web/src/components/parts/SearchField.vue
Due: vue_build, s_vue_deploy

[update] storeのinitialState書き忘れ
  web/src/components/parts/TaskDetailDeleteTaskDialog.vue
  web/src/main.js
  web/src/store/index.js
  web/src/store/utils.js
  web/src/views/app/FutureSchedule.vue
  web/src/views/app/SearchResult.vue
Due: vue_build, s_vue_deploy

[add, update] #7 ラベル関連
  api/api/viewsets.py
  web/src/components/common/EditLabelDialog.vue
  web/src/components/parts/TaskDetailDeleteTaskDialog.vue
  web/src/components/parts/TaskDetailLabelArea.vue
  web/src/components/parts/TaskDetailSubTaskArea.vue
  web/src/store/index.js
  web/src/views/setting/OtherSetting.vue
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[fix] カテゴリ詳細以外でのupdate関連
  web/src/components/common/EditTaskDialog.vue
  web/src/components/parts/TaskDetailLabelArea.vue
  web/src/components/parts/TaskMenuBtn.vue
  web/src/store/index.js
  web/src/store/utils.js
Due: vue_build, s_vue_deploy

[update] 完了タスク周り、ソート
  api/api/serializers.py
  api/api/views.py
  api/api/viewsets.py
  web/src/components/common/Sidebar.vue
  web/src/components/common/TaskList.vue
  web/src/components/parts/FilterBtn.vue
  web/src/components/parts/SortBtn.vue
  web/src/components/parts/TaskDetailHeader.vue
  web/src/store/index.js
  web/src/store/utils.js
  web/src/views/app/DetailCategory.vue
  web/src/views/app/SearchResult.vue
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy

[hotfix] エラー吐いている部分修正、ラベル・タスク関連修正
  api/api/serializers.py
  web/src/components/common/CreateLabelDialog.vue
  web/src/components/parts/LabelBtn.vue
  web/src/components/parts/TaskMenuBtn.vue
  web/src/store/index.js
Due: vue_build, drf_build, s_vue_deploy, s_drf_deploy
